/**
 * @name sds
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
 * @BDEditor Dark Matter
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

:root {
  --background-image: transparent;
  --home-image: transparent;
  --accent: 37, 172, 232;
  --accent-alt: 29, 101, 134;
  --background-solid: #161921;
  --background-solid-dark: #101218;
  --background-solid-darker: #0c0e12;
}

/* Any custom CSS below here */


